@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light|Source+Sans+Pro:400,700");
html {
  overflow-x: hidden;
}
:root {
    --bgColor: #b2bec3;
    --primaryColor: #e17055;
    --primaryColor2: #e67e22;
    --secondaryColor: #0984e3;
    --text: #2c3e50;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #EEEEF0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 999999
}

/* Style the header links */
#header-wrap a {
  padding: 10px;
  text-decoration: none;
  font-size: 28px;
  line-height: 25px;
  border-radius: 4px;
  color: var(--primaryColor2);
  
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
#header-wrap a.branding {
  font-size: 36px;
  line-height: 1.2;
  font-weight: bold;
  color: var(--primaryColor2);
  text-shadow: 0 0 10px rgba(132, 135, 137, 0.8);
}

/* Change the background color on mouse-over */
#header-wrap a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
#header-links a.active {
  background-color: dodgerblue;
  color: white;
}

/* Hero */
.hero-image {
  background-image: url('../images/airstream-hero.jpg');
  background-color: #9d9d9d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-text {
padding: 200px;

}
.hero-text h2 {
  font-family: 'Shadows Into Light', cursive;
  color: var(--primaryColor2);
font-weight: bold;
font-size: 58px;
text-align: center;
text-shadow: 0 0 10px rgba(132, 135, 137, 0.8);
}

.hero-text h3 {
  font-family: 'Shadows Into Light', cursive;
color: var(--primaryColor2);
font-weight: bold;
font-size: 48px;
text-align: center;
text-shadow: 0 0 10px rgba(132, 135, 137, 0.8);

}


.bio-image img {
  border-radius: 15px;
  height: 500px;
  }
  
.about-me-container {
  display: flex;
  margin: 15px;
  }

  .about-me-text-container {
    margin-left: 15px;
  }

.about-me-container h2 {
  font-family: 'Shadows Into Light';
  font-size: 48px;
  font-weight: bold;
}
.about-me-container p {
  font-size: 24px;
}

.work-and-contact-container {
  display: flex;
  justify-content: space-between;
}
.work-and-contact-container h2 {
  font-size: 48px;
  font-family: 'Shadows Into Light';
}
.work-and-contact-container p {
  font-size: 24px;
}
.work-and-contact-container ul li {
  font-size: 24px;
}

.work-examples {
  width: 40%;
}

.resume-meat-container {
      margin: 50px 5px 50px 5px;
        }
.resume-meat-container h2 {
  font-family: 'Shadows Into Light';
  font-size: 48px;
}
.resume-meat-container p {
  
}


/* FOOTER STYLES START */
footer {
    background: var(--primaryColor);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: var(--secondaryColor);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--secondaryColor);
  }
  /* END FOOTER STYLES */
