:root {
    --bgColor: #b2bec3;
    --primaryColor: #e17055;
    --secondaryColor: #0984e3;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/airstream-2656977_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 999999;
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primaryColor);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primaryColor);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header nav ul li a:hover{
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

/* Body */

.bio {
    background-image: url("../images/airstream-2656977_1920.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}













/* FOOTER STYLES START */
footer {
    background: var(--primaryColor);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: var(--secondaryColor);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--secondaryColor);
  }
  /* END FOOTER STYLES */