@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light|Source+Sans+Pro:400,700");
html {
  overflow-x: hidden;
}
:root {
    --bgColor: #b2bec3;
    --primaryColor: #e17055;
    --primaryColor2: #e67e22;
    --secondaryColor: #0984e3;
    --text: #2c3e50;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #EEEEF0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 999999
}

/* Style the header links */
#header-wrap a {
  float: left;
  text-align: left;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  text-decoration: none;
  font-size: 28px;
  line-height: 25px;
  border-radius: 4px;
  color: var(--primaryColor2);
  
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
#header-wrap a.branding {
  float: left;
  font-size: 36px;
  line-height: 1.2;
  font-weight: bold;
  color: var(--primaryColor2);
  text-shadow: 0 0 10px rgba(132, 135, 137, 0.8);
}

/* Change the background color on mouse-over */
#header-wrap a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
#header-links a.active {
  background-color: dodgerblue;
  color: white;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  #header-wrap a {
    float: none;
    display: block;
    text-align: left;
  }
  #header-links {
    float: none;
  }
}

/* Hero */
.bio {

  
}

.hero-image {
  background-image: url('../images/airstream-hero.jpg');
  background-color: #9d9d9d;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
padding: 200px;

}
.hero-text h2 {
  font-family: 'Shadows Into Light', cursive;
  color: var(--primaryColor2);
font-weight: bold;
font-size: 58px;
text-align: center;
text-shadow: 0 0 10px rgba(132, 135, 137, 0.8);
}

.hero-text h3 {
  font-family: 'Shadows Into Light', cursive;
color: var(--primaryColor2);
font-weight: bold;
font-size: 48px;
text-align: center;
text-shadow: 0 0 10px rgba(132, 135, 137, 0.8);

}
#about-me {
 height: 550px;
}

.bio-image img {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 15px;
  height: 500px;
  margin: 15px;
  padding: 5px;
  border: 2px solid #c0c0c0;
  float: left; 
}
.aboutme {
  margin: 15px;
  float: right;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px solid #c0c0c0;
  width: 80%;
}
.aboutme h2 {
  font-size: 32;
}
.aboutme p {
  font-size: 18px;
}

.work {
  display: flex;
  flex-wrap: wrap;  
  border: 2px solid var(--primaryColor);
  justify-content: left;
    margin: 50px 5px 50px 5px;
    float: left;
    height: 200px;
    
}

.contactMe {
        display: flex;
        flex-wrap: wrap;
        border: 2px solid var(--primaryColor);
        margin: 50px 5px 50px 5px;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        float: right;
        height: 200px;

}

.resume {
    border: 2px solid var(--primaryColor);
    margin: 50px 5px 50px 5px;
    display: flex;
    flex-wrap: wrap;
    height: 800px;
}
.resume p {
  margin: 150px;
}













/* FOOTER STYLES START */
footer {
    background: var(--primaryColor);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: var(--secondaryColor);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--secondaryColor);
  }
  /* END FOOTER STYLES */

  /* Media Query */
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header h1 a {
    /* this will be applied on any screen smaller than 980px */
    color: var(--text);
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header h1 {
    /* this will be applied on any screen between 768px and 575px */
    font-size: 80px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header h1 {
    /* this will be applied on any screen smaller than 575px */
    font-size: 100px;
  }
}